header{
 background-color: beige;
 display: inline-flex;
}
#logo{
 background-color: beige;
}

nav{
 max-width: 900px;
 margin:auto;
 background-color: cadetblue;
 font-size: 20px;
 margin-top: 50px;
}

.menu1{
 list-style: none;
 display: flex;
 justify-content: space-around;
}
.menu1 > li > a{
 display: block;
 padding: 15px 20px;
 color: darkmagenta;
 text-decoration: none;
}

.menu1 li:hover{
 background-color: red;
}

.horizontal1{
 position: absolute;
 display: none;
 list-style: none;
 width: 200px;
 background-color: rgba(0,0, 0, .5);
}

.menu1 li:hover .horizontal1{
 display: block;
}

.horizontal1 li:hover{
 background-color: black;
}

.horizontal1 li a{
 display: block;
 color: white;
}


#parent{
 
 background-color:rgb(155, 217, 156);
 margin: 0px;
 padding: 0px;
}
h1{
 text-align: center;
}