header{
 background-color: beige;
 display: inline-flex;
}
#logo{
 background-color: beige;
}

nav{
 max-width: 900px;
 margin:auto;
}

#parent{
 
 background-color:rgb(155, 217, 156);
 margin: 0px;
 padding: 0px;
}
h1{
 text-align: center;
}