.Estrella1{
    left: 15%;
    top: 80%;
    position: absolute;
    width: 70px;
    height: 70px;
    background: rgb(106, 235, 0);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    animation: forma1 10s ease-in infinite normal both;
    animation-timing-function: ease-in-out;
}
@keyframes forma1{
    0%{
        top: 80%;
        rotate: 10deg;
    }
    50%{
        top: 100%;
        rotate: 30deg;
    }
    100%{
        top: 80%;
        rotate: 10deg;
    }
}