*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(155, 217, 156);
}
.box{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.box h1{
    border-color: aliceblue;
    width: 500px;
    height: 20px;
    padding-right:  400px;
}