*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(155, 217, 156);
}
.box{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.box h1{
    border-color: aliceblue;
    width: 500px;
    height: 20px;
    padding-right:  400px;
    margin-top: 125px;
    margin-right: 500px;
    margin-left: 500px;
    position: absolute;
    text-align: center;
}
.menus button{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    font-size: 20px;
    height: 52.5px;