@font-face{
 font-family: 'Athena';
 src: url(../font/Athena.ttf);
}
*{
  font-family: 'Athena';
  
}
.login{
  border: 2px solid rgba(rgb(85, 125, 45), green, blue, alpha);
  
  width: 349px;
  
  background-color:rgb(231, 238, 231);
   
}

.login input{
   height: 30px;
   margin: 8px auto;
   border-radius: 6px;
   padding-left: 15px;
   display: block;
   font-size: 20px;
   
        
}


           