#hoy{
    -webkit-animation: rotate 5s normal linear infinite;
    animation: rotate 5s normal linear infinite;
    color: rgb(252, 0, 0);
}
    
body{
       background-color: rgb(36, 35, 31);
}
@keyframes rotate{
              0%{
                            -webkit-transform: rotate(13, 13, 15, 0deg);
                            transform: rotate(1,15, 15, 0deg);
              }
              25%{
                            -webkit-transform: rotate3d(1, 1, 15, 90deg);
                            transform: rotate3d(1, 1, 15, 90deg);
              }
              50%{
                            -webkit-transform: rotate3d(13, 13, 15, 180deg);
                            transform: rotate3d(1, 1, 15, 180deg);

              }
              75%{
                            -webkit-transform: rotate3d(13, 13, 15, 270deg);
                            transform: rotate3d(1, 1, 15, 270deg);
              }
              100%{
                            -webkit-transform: rotate3d(13, 13, 15, 360deg);
                            transform: rotate3d(1, 1, 15, 360deg);
              }
}

