@font-face{
 font-family: 'Athena';
 src: url(../font/Athena.ttf);
}
*{
  font-family: 'Athena';
  margin: 0;
  padding: 0;
  
}
.login{
  border: 2px solid rgb(155, 217, 156);
  
  
  
  background-color:rgb(155, 217, 156);
   
}

.login input{
   height: 30px;
   margin: 8px auto;
   border-radius: 6px;
   padding-left: 15px;
   display: block;
   font-size: 20px;  
        
}


           