.login{
  border: 2px solid rgba(rgb(54, 33, 33), green, blue, alpha);
  position: absolute;
  width: 349px;
  margin-left: 500px;
  background-color:rgb(155, 217, 156);
   
}

.login input{
   height: 30px;
   margin: 8px auto;
   border-radius: 6px;
}


           