.contBarra{
    display: flex;
    align-items: center;
}
.pagIni{
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(https://images.vexels.com/media/users/3/140527/isolated/preview/449b95d58f554656b159dd3ca21ab123-icono-de-ronda-de-inicio.png) ;
    background-size: 70px;
}
header a{
    margin-right: 50px;
}