.indice{
    border: black solid 1px;
    width: auto;
    height: 9%;
    position: fixed;
    transition: .5s all;
    z-index: 1;
}
.indice ul{
    padding: 0;
    text-align: center;

}
.indice li{
    transition: .4s all;
    list-style-type: none;
}
.indice a{
    text-decoration: none;
    transition: .4s all;
    font-size: 0;
    padding: 0;
}
.indice h1{
    text-align: center;
    padding: 7px;
    padding-bottom: 7px;
}
.indice:hover{
    width: 15%;
    height: 65%;
    background: green;
}
.indice:hover h1{
    padding: 4px;
    font-size: 35px;
}
.indice:hover a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 4px;
}