.indice{
    border: black solid 1px;
    width: auto;
    height: 9%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
}
.indice ul{
    padding: 0;
    text-align: center;

}
.indice li{
    transition: .3s all;
    list-style-type: none;
}
.indice a{
    text-decoration: none;
    transition: .3s all;
    font-size: 0;
    padding: 0;
}
.indice h1{
    text-align: center;
    padding: 7px;
    padding-bottom: 7px;
}