@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
.conten{
    display: grid;
    grid-template-areas: "head head"
                          "nav conten";
}
header{
    grid-area: head;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.coSuculentas{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coAcuaticas{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coArbustos{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coArboles{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coBulbosas{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coCactus{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coPlantas_Carnivoras{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coEnredaderas{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coFlores{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

.coHerbáceas{
    grid-area: conten;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    margin: 5px;
}

nav{
    grid-area: nav;
    margin: 5px;
}
content h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}